{
  "system": "x86_64-linux",
  "profile": "laptop",
  "hostname": "gjallarOS",
  "username": "testuser",
  "timezone": "Europe/Berlin",
  "locale": "en_US.UTF-8",
  "name": "bakanura",
  "email": "redacted@example.invalid",
  "githubUsername": "bakanura",
  "shell": "zsh",
  "editors": ["vscodium"],
  "browsers": ["librewolf"],
  "preferredEditor": "vscodium",
  "preferredBrowser": "librewolf",
  "theme": "catppuccin",
  "workUserEnable": true,
  "dockerEnable": true,
  "autoReboot": false,
  "writeConfig": true,
  "runRebuild": true,
  "aiEnable": true,
  "enableScrobbling": false,
  "enableLastfm": false,
  "enableListenbrainz": false,
  "frameworkEnable": true,
  "frameworkModel": "13",
  "nemuEnable": true,
  "nemuGpuPassthrough": true,
  "luksTpm2Enable": false
}
